/* colors */
:root {
  /*--main-bg-color: #56667A;
  --main-p-color: white;
  --main-h2-color: #CF5C36;
  --main-h3-color: #EFC88B;
  --secondary-color: #32213A;*/

  /*--dark1: #161111;*/
  --dark1: #14181D;
  --dark2: #56667A;
  /*--light1: #FDF8F5;*/
  --light1: white;
  /*--light2: #FFBC61;*/
  /*--light2: #DCCCA3;*/
  --light2: #E8DEC4;
  --hover: #E9806E;
}

/* navbar */
  li > a{
    font-style: italic;
  }

  .navbar{
    background-color: var(--light1);
  }

  .nav-link {
    color: var(--dark2);
  }

  .nav-link:hover{
    color: var(--hover);
  }

  .nav-link.active {
    color: var(--dark1);
  }

  .navbar-brand {
    color: var(--dark1);
  }
  .navbar-brand:hover {
    color: var(--dark1);
  }

/* footer */
  .footer{
    color: var(--light1);
  }

  hr{
    height: 1px;
    color: var(--light1);
    background-color: var(--light1);
    border: none;
  }



/* gallery */

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    background-color: var(--light1);
  }
  
  .hover:hover .overlay {
    opacity: 0;
  }
  
  .text {
    color: var(--dark1);
    opacity: 1;
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    font-style: italic;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .card {
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    border: 0px
  }

  /* this is to hide pictures until they are loaded */
  .card-columns{
    /*display: none;*/
  }


/* general */
  h2 {
    font-family: 'Amatic SC', cursive;
    color : var(--light2);
    font-size: 2.85rem;
  }

  h3 {
    font-family: 'Amatic SC', cursive;
    color : var(--light2);
    font-style: italic;
    font-size: 1.5rem;
  }

  p {
    color : var(--light1);
  }



  /* contact */
  .logo-btn:link, .logo-btn:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  
  .logo-btn:hover, .logo-btn:active {
    background-color: #f2f2f2;
  }